.fab{
    position:relative;
    width:400px;
    height:400px;
    background:rgb(60, 255, 0);
    left: 450px;
    top:150px;
    
}

.me{
    position:absolute;
    top:50px;
    left:50px;
    background:rgb(172, 187, 164);
    width:300px;
    height:300px;
}

.doing{
    position:absolute;
    background:rgb(255, 255, 255);
    top:40px;
    left:40px;
    width:200px;
    height:200px;
}
